.textCode {
    font-size: 1.2rem;
    color: rgb(7, 72, 184);
    font-weight: 400;
}

.codeNum {
    font-size: 2rem;
    font-weight: 550;
    color: rgb(29, 88, 192);
}

.noCode{
    font-size: 1.3rem;
    color: rgb(176, 45, 45);
    font-weight: 500;
}
.shareBack{
    color: blue;
    cursor: pointer;
    font-weight: 500;
}
.shareBack:hover{
    color: brown;
}