.uploadBox:hover .uploadFile {
    color: blue;
    border: 2px solid blue;
}

.uploadFile {
    padding: 5px;
    max-width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.uploadFile p {
    font-size: 1.2rem;
    font-weight: 500;
}

.uploadFile img {
    width: 40px;
}
.error{
    color: red;
    font-size: 0.8rem;
}
.submit-btn {
    font-size: 1.2rem;
    border-radius: 7px;
    padding: 5px 20px 5px 20px;
    border: 2px solid blue;
    background-color: rgba(139, 177, 248, 0.596);
    color: black;
    margin: 20px auto;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: rgba(26, 38, 205, 0.653);
    color: white;
}

.loader{
    max-width: 260px;
    background-color: transparent;
}