.submit-btn {
    font-size: 1.2rem;
    border-radius: 7px;
    padding: 5px 20px 5px 20px;
    border: 2px solid blue;
    background-color: rgba(139, 177, 248, 0.596);
    color: black;
    margin: 15px auto;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: rgba(26, 38, 205, 0.692);
    color: white;
}