#container {
    min-height: 100vh;
    background: linear-gradient(#596aff, #383699);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.home {
    background-color: white;
    max-width: 270px;
    height: 355px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 15px;
}